certifi==2021.10.8
conda==4.3.16
cycler==0.11.0
filelock==3.0.12
fonttools==4.33.2
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
paho-mqtt==1.5.1
Pillow==9.1.0
pycosat==0.6.3
pyparsing==3.0.8
python-dateutil==2.8.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
virtualenv==20.4.6
